#CourseList {
    width: 100%;
    border: 1px solid #ddd;
    margin: 20px 0;
    text-align: left;
    border-collapse: collapse;
  }
  
  #CourseList th,
  #CourseList td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #CourseList th {
    background-color: #f4f4f4;
  }
  